.sidebar {
    position: fixed;
    inset-block: 0;
    z-index: 2;
    background-color: var(--latte);
    min-width: max-content;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    transform: translateX(-100%);
    transition: .2s ease-in-out;
    box-shadow: 1px 0 4px var(--bistre);
}

.show {
    transform: translateX(0);
}

.brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBrand {
    width: 150px;
    object-fit: cover;
}

.divider {
    border-bottom: 1px solid var(--bistre);
}

.nav {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    font-family: 'Quicksand';
}

.navItem {
    display: flex;
    align-items: center;
    gap: .75rem;
    color: var(--bistre);
    padding-block: .75rem;
    padding-inline: 1rem;
    transition: .1s ease-in-out;
}

.navItem.active {
    background-color: var(--cocoa-brown);
    color: var(--latte);
}

.navItem:hover {
    background-color: var(--cocoa-brown);
    color: var(--latte);
}

.adds {
    flex: 1;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 1024px) {
    .sidebar {
        position: static;
        transform: translateX(0);
        grid-area: sidebar;
    }
}