.spinner {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid rgba(245, 245, 220, .7);
    border-top: 2px solid var(--cocoa-brown);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}